*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins, sans-serif;
    background-color: white;
    width: auto;
    overflow-x: hidden;
    
}
.container{
    background-color:#2C3E50 ;
    height: 100vh;
    width: auto;
}
.container .section1{
    background-color:#ECF0F1;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container .section1 nav{
    background-color: #2C3E50;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 80%;
    border-radius: 20px;
}
.container .section1 nav a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-top: 10px;

}
.container .about{
    /* background-color: #6b99c7; */
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    width: 100%;
}
.container .about img{
    height: 300px;
    border-radius: 40%;
}
.container .about h2{
    font-family: Georgia, serif;
   font-weight: normal;
   /* line-height: 35px; */
}

.container .section1 nav a:hover{
    color: #6cc6ff;;
}

nav > a{
    transition: all .8s ease-in;

 }
 nav:hover > a{
     /* transform: translateY(-20%); */
     transform: rotate(5deg);
     border-radius: 20%;
  
 }



/* section2 halkaan ayuu ka bilaamamanaya  */

.section2{
    background-color: rgb(15 23 42);
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    margin-bottom: auto;
}
.section2 h1{
    /* background-color: yellow; */
    width: 50%;
   text-align: center;
   color: #6cc6ff;
   font-size: 60px;
   margin: 40px 0 40px 0;
   letter-spacing: 5px;
}

.section2 .logoSkills{
    /* display: flex;
     /* background-color: rebeccapurple; 
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    gap: 80px;
    width: auto;
    text-align: center;
    padding: 20px;
    /* background-color: yellow; */

}

.section2 .logoSkills> div{
    background-color: #2C3E50 ;
    border-radius: 8px;
    /* height: 160px; */
    /* text-align: center; */
    padding: 10px;
    /* width: 160px; */
}
.section2 .logoSkills h3{
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 15px;
    padding-bottom: 20px;
}

.section2 .logoSkills svg{
    height: 50px;
}
 .section2 .logoSkills svg .frame{
    fill: #6cc6ff;
}







/* section 3 halkaan ayuu ka bailamanaya*/

.section3{
    background-color:#1e293b;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}
.section3 h1{
    width: 50%;
    text-align: center;
    color: #6cc6ff;
    font-size: 60px;
    margin: 40px 0 40px 0;
    letter-spacing: 5px;
}
.section3 .logTools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 80px;
    width: auto;
    text-align: center;
}
.section3 .logTools > div{
    background-color: rgb(15 23 42);
    border-radius: 8px;
    /* height: 160px; */
    /* text-align: center; */
    padding: 10px;
    /* width: 160px; */
}
.section3 .logTools h4{
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: 15px;
    padding-bottom: 20px;
}
.section3 .logTools h5{
    color: rgb(187, 180, 180);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 13px;
    margin-top: 5px;
    padding-bottom: 20px;
}
.section3 .logTools svg{
    height: 50px;
}
.section3 .logTools svg .frame{
    fill: #6cc6ff;
}



/* halkan waxaa ka bilaamanaya section 4*/

.section4{
    background-color: rgb(15 23 42);
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}
.section4 h1{
    width: 50%;
    text-align: center;
    color: #6cc6ff;
    font-size: 60px;
    margin: 40px 0 40px 0;
    letter-spacing: 5px;
}
.section4 .projects{
    display: flex;
    gap: 60px;
    justify-content: space-around;
}
 .section4 .projects > div{
    border: 2px solid gray;
    text-align: center;
    padding: 100px;
    border-radius: 8px;
    background-color: #1e293b;
 }

 .section4 .projects .project1 h3 ,.section4 .projects .project2 h3{
    letter-spacing: 2px;
    margin-top: 10px;
    color: rgb(207, 207, 207);
 }





/* halkaan waxaa ka bilaamanaya section 5 */

.section5{
    background-color:#1e293b;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}
.section5 h1{
    width: 50%;
    text-align: center;
    color: #6cc6ff;
    font-size: 60px;
    margin: 40px 0 40px 0;
    letter-spacing: 5px;
}
.section5 .boxServices{
    display: flex;
    gap: 60px;
    justify-content: space-around;
}
.section5 .boxServices > div{
    background-color: rgb(15 23 42);
    border-radius: 8px;
    /* height: 160px; */
    text-align: center;
    padding: 20px;
    /* width: 160px; */
}

.section5 .boxServices h4{
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 19px;
    margin-top: 18px;
    padding-bottom: 20px;
}
.section5 .boxServices h5{
    color: rgb(187, 180, 180);
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin-top: 5px;
    padding-bottom: 20px;
}
.section5 .boxServices svg .frame{
    fill: #6cc6ff;
}
.section5 .boxServices svg{
    height: 50px;
}




/* halkaan waxaa ka bilaamanaya section 6 */
.section6{
    background-color:#6cc6ff;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}
.section6 .contactsLogo{
    display: flex;
    gap: 30px;

}

.section6 .contactsLogo svg{
    height: 20px;
}






/* halkaan waxaa ka bilaamaya media query*/



/*LAPTOP*/

@media (min-width:992px) and (max-width:1199px){
    .body{
        overflow-x: hidden;
    }
    .container{
       width: 100%;
     
    }
    .container .section1{
            background-color:#ECF0F1;
            font-family: 'Roboto', sans-serif;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
    }
    .section2 .logoSkills{
        /* display: flex;
         /* background-color: rebeccapurple; 
        justify-content: center;
        gap: 80px;
        flex-wrap: wrap;
        width: 100%; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        gap: 80px;
        width: auto;
        text-align: center;
        padding: 20px;
    
    }
    .name {
        font-size: 3rem;
        font-family: Arial, sans-serif;
        color: black;
        /* text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; */
        position: relative;
        animation: glow 1.5s infinite alternate, move 3s ease-in-out infinite alternate;
    }

    @keyframes glow {
        from {
            /* text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; */
        }
        to {
            /* text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; */
        }
    }

    @keyframes move {
        from {
            transform: translateY(-10px);
        }
        to {
            transform: translateY(10px);
        }
    }
    
    .container .section1 nav a:hover{
        color: #6cc6ff;;
    }
    .section4 .projects{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        justify-content: space-around;
        padding-left: 30px;
        padding-right: 30px;
    }

    /* .container .section2, .section3, .section4, .section5, .section6{
        display:none;
    } */
}


/*medium Ipad*/

@media (min-width:768px) and (max-width:991px){
    .body{
        overflow-x: hidden;
    }
    .container{
       width: 100%;
     
    }
    .container .section1{
            background-color:#ECF0F1;
            font-family: 'Roboto', sans-serif;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
    }
    .container .about img{
        height: 220ox;
        border-radius: 40%;
        margin-left: 30px;
        margin-right: 20px;
    }
    .container .about h2{
        font-family: Georgia, serif;
       font-weight: normal;
       line-height: 30px;
       margin-left: 20px;
    }
    .name {
        font-size: 2rem;
        font-family: Arial, sans-serif;
        color: black;
        /* text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; */
        position: relative;
        animation: glow 1.5s infinite alternate, move 3s ease-in-out infinite alternate;
    }

    @keyframes glow {
        from {
            /* text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; */
        }
        to {
            /* text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; */
        }
    }

    @keyframes move {
        from {
            transform: translateY(-10px);
        }
        to {
            transform: translateY(10px);
        }
    }
    
    .container .section1 nav a:hover{
        color: #6cc6ff;;
    }
    .section2 h1{
        /* background-color: yellow; */
        width: 50%;
       text-align: center;
       color: #6cc6ff;
       font-size: 67px;
       margin: 40px 0 40px 0;
       letter-spacing: 5px;
    }
    .section2 .logoSkills{
        /* display: flex;
         /* background-color: rebeccapurple; 
        justify-content: center;
        gap: 80px;
        flex-wrap: wrap;
        width: 100%; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        gap: 80px;
        width: auto;
        text-align: center;
        padding: 20px;
    
    }
  
 
    .section3 h1{
        width: 50%;
        text-align: center;
        color: #6cc6ff;
        font-size: 57px;
        margin: 40px 0 40px 0;
        letter-spacing: 5px;
    }
    .section3 .logTools {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 80px;
        width: auto;
        text-align: center;
    }
    .section4 h1{
        width: 50%;
        text-align: center;
        color: #6cc6ff;
        font-size: 57px;
        margin: 40px 0 40px 0;
        letter-spacing: 5px;
    }
    .section4 .projects{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        justify-content: space-around;
        padding-left: 30px;
        padding-right: 30px;
    }
    .section5 h1{
        width: 50%;
        text-align: center;
        color: #6cc6ff;
        font-size: 57px;
        margin: 40px 0 40px 0;
        letter-spacing: 5px;
    }
    .section5 .boxServices{
        display: flex;
        gap: 60px;
        justify-content: space-around;
    }



    /* .container .section2, .section3, .section4, .section5, .section6{
        display:none;
    } */
}



/* MOBILE MEDIA*/

@media (min-width:576px) and (max-width:767px){
    .body{
        overflow-x: hidden;
    }
    .container{
       width: 100%;
    }
    .container .section1{
            background-color:#ECF0F1;
            font-family: 'Roboto', sans-serif;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
    }
    .container .section1 nav{
        background-color: #2C3E50;
        height: 50px;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        width: 100%;
        gap: 20px;
        border-radius: 20px;
    }
    .container .about img{
        height: 220px;
        border-radius: 40%;
        margin-left: 30px;
        margin-right: 20px;
    }
    .container .about h2{
        font-family: Georgia, serif;
       font-weight: normal;
       line-height: 30px;
       margin-left: 20px;
       font-size: 26px;
    }
    .name {
        font-size: 1rem;
        font-family: Arial, sans-serif;
        color: black;
        /* text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; */
        position: relative;
        animation: glow 1.5s infinite alternate, move 3s ease-in-out infinite alternate;
    }

    @keyframes glow {
        from {
            /* text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; */
        }
        to {
            /* text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; */
        }
    }

    @keyframes move {
        from {
            transform: translateY(-10px);
        }
        to {
            transform: translateY(10px);
        }
    }
    
    .container .section1 nav a:hover{
        color: #6cc6ff;;
    }
    .section2 h1{
        /* background-color: yellow; */
        width: 50%;
       text-align: center;
       color: #6cc6ff;
       font-size: 67px;
       margin: 40px 0 40px 0;
       letter-spacing: 5px;
    }
    .section2 .logoSkills{
        /* display: flex;
         /* background-color: rebeccapurple; 
        justify-content: center;
        gap: 80px;
        flex-wrap: wrap;
        width: 100%; */
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        gap: 80px;
        width: auto;
        text-align: center;
        padding: 20px;
    
    }
  
 
    .section3 h1{
        width: 50%;
        text-align: center;
        color: #6cc6ff;
        font-size: 57px;
        margin: 40px 0 40px 0;
        letter-spacing: 5px;
    }
    .section3 .logTools {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 80px;
        width: auto;
        text-align: center;
    }
    .section4 h1{
        width: 50%;
        text-align: center;
        color: #6cc6ff;
        font-size: 57px;
        margin: 40px 0 40px 0;
        letter-spacing: 5px;
    }
    .section4 .projects{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        justify-content: space-around;
        padding-left: 30px;
        padding-right: 30px;
    }
    .section5 h1{
        width: 50%;
        text-align: center;
        color: #6cc6ff;
        font-size: 57px;
        margin: 40px 0 40px 0;
        letter-spacing: 5px;
    }
    .section5 .boxServices{
        display: flex;
        gap: 60px;
        justify-content: space-around;
    }



    /* .container .section2, .section3, .section4, .section5, .section6{
        display:none;
    } */
}



/* oppo mobil 16s*/


@media (min-width:284px) and (max-width:575px){
    .container{
        background-color:#2C3E50 ;
        height: 100vh;
        width: auto;
    }
    .container .section1{
        background-color:#ECF0F1;
        font-family: 'Roboto', sans-serif;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .container .section1 nav{
        background-color: #2C3E50;
        height: 30px;
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        width: 100%;
        border-radius: 20px;

    }
    .container .section1 nav a{
        color: white;
        font-size: 10px;
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
       
    
    }
    .container .about{
        
        /* background-color: #6b99c7; */
        display: flex;
       flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        align-items: center;
        width: 100%;
    }
    /* .container .about img{
        height: 150px;
        border-radius: 20%;
        padding-right: 5px;
        margin-top: 30px;
    } */
    /* .container .about h2{
       font-family: Georgia, serif;
       font-weight: normal;
       font-size: 30px;
       font-family: 'Poppins', sans-serif; 
       padding-left: 5px;
    } */
    .name {
        font-size: 1rem;
        font-family: Arial, sans-serif;
        color: black;
        /* text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; */
        position: relative;
        animation: glow 1.5s infinite alternate, move 3s ease-in-out infinite alternate;
    }

    @keyframes glow {
        from {
            /* text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 15px #ff00ff; */
        }
        to {
            /* text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; */
        }
    }

    @keyframes move {
        from {
            transform: translateY(-10px);
        }
        to {
            transform: translateY(10px);
        }
    }
    
    .container .section1 nav a:hover{
        color: #6cc6ff;;
    }

   
    /* section2 halkaan ayuu ka bilaamamanaya  */
    
    .section2{
        background-color: rgb(15 23 42);
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        margin-bottom: auto;
    }
    .section2 h1{
        /* background-color: yellow; */
        width: 50%;
       text-align: center;
       color: #6cc6ff;
       font-size: 30px;
       margin: 30px 0 10px 0;
       letter-spacing: 5px;
    }
    
    .section2 .logoSkills{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        /* background-color: yellow; */
        gap: 20px;
        width: 100%;
    }
    
    .section2 .logoSkills > div{
        background-color: #2C3E50 ;
        border-radius: 8px;
        height: 100%;
        width: 100%;
    }
    .section2 .logoSkills h3{
        color: white;
        font-weight: bold;
        font-size: 15px;
        /* background-color: yellow; */
        padding-bottom: 10px;
        letter-spacing: 4px;
    }
    
    .section2 .logoSkills svg{
        height: 40px;
    }
     .section2 .logoSkills svg .frame{
        fill: #6cc6ff;
    }
    
    
    
    
    
    
    
    /* section 3 halkaan ayuu ka bailamanaya*/
    
    .section3{
        background-color:#1e293b;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }
    .section3 h1{
        width: 100%;
        text-align: center;
        color: #6cc6ff;
        font-size: 30px;
        margin: 30px 0 -10px 0;
        letter-spacing: 5px;
    }
    .section3 .logTools {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        width: 100%;
        margin: 0;
        padding: 40px;
    }
    .section3 .logTools div{
        background-color: rgb(15 23 42);
        border-radius: 8px;
        width: 100%;
        margin:0;
        height: 100%   ;
     
        padding: 0  ;
        
    }
    .section3 .logTools h4{
        color: white;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 13px;
        padding-bottom: 5px;
        margin: 10px ;
      
    }
    .section3 .logTools h5{
        color: rgb(187, 180, 180);
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 9px;
        margin-top: 0px;
        padding-bottom: 20px;
      
        margin:0;
    }
    .section3 .logTools svg{
        height: 30px;
    }
    .section3 .logTools svg .frame{
        fill: #6cc6ff;
    }
    
    
    
    /* halkan waxaa ka bilaamanaya section 4*/
    
    .section4{
        background-color: rgb(15 23 42);
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        width: 100%;
    }
    .section4 h1{
        width: 100%;
        text-align: center;
        color: #6cc6ff;
        font-size: 30px;
        margin: 30px 0 30px 0;
        letter-spacing: 5px;
    }
    .section4 .projects{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
       margin-left: -25px;
       padding: 30px;
    }
     .section4 .projects div{
        border: 2px solid gray;
        text-align: center;
        padding: 20px;
        border-radius: 8px;
        background-color: #1e293b;
        width: 100%;
        
    
     }
    
     .section4 .projects .project1 h3 ,.section4 .projects .project2 h3{
        letter-spacing: 0px;
        margin-top: 0px;
        padding: 0px;
        font-size: 20px;
        color: rgb(207, 207, 207);
     }
    
    
    
    
    
    /* halkaan waxaa ka bilaamanaya section 5 */
    
    .section5{
        background-color:#1e293b;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }
    .section5 h1{
        width: 100%;
        text-align: center;
        color: #6cc6ff;
        font-size: 30px;
        margin: 30px 0 30px 0;
        letter-spacing: 5px;
    }
    .section5 .boxServices{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
        width: 100%;
        margin: 0 ;
        
    }
    .section5 .boxServices div{
        background-color: rgb(15 23 42);
        border-radius: 8px;
        /* height: 160px; */
        text-align: center;
        padding: 20px;
        width: 100%;
    }
    
    .section5 .boxServices h4{
        color: white;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 13px;
       margin: 10px;
        padding-bottom: 5px;
    }
    .section5 .boxServices h5{
        color: rgb(187, 180, 180);
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 9px;
        margin-top: 0px;
        padding-bottom: 20px;
    }
    .section5 .boxServices svg .frame{
        fill: #6cc6ff;
    }
    .section5 .boxServices svg{
        height: 30px;
    }
    
    
    
    
    /* halkaan waxaa ka bilaamanaya section 6 */
    .section6{
        background-color:#6cc6ff;
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
    }
    .section6 .contactsLogo{
        display: flex;
        gap: 30px;
    
    }
    
    .section6 .contactsLogo svg{
        height: 20px;
    }
}
